In [1]:
import pandas as pd

##Q1

In [2]:
##Pandas read_csv()-- This Function is used to read Data From the Excel Sheet
DF = pd.read_csv("HEA.csv")

In [3]:
DF

,Alloy ID,Alloy,Al,Co,Cr,Fe,Ni,Cu,Mn,Ti,...,Quenching,HPR,Microstructure_,Multiphase,IM_Structure,Microstructure,Phases,References,Unnamed: 51,Unnamed: 52
0,Alloy 0000,Al0.5NbTaTiV,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.1016/j.proeng.2012.03.043,NaN,NaN
1,Alloy 0001,Al0.75MoNbTiV,0.157895,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.210526,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.3390/e16020870,NaN,NaN
2,Alloy 0002,Al0.25MoNbTiV,0.058824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.235294,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.3390/e16020870,NaN,NaN
3,Alloy 0003,Al0.25NbTaTiV,0.058824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.235294,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.1016/j.proeng.2012.03.043,NaN,NaN
4,Alloy 0004,Al0.2MoTaTiV,0.047619,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.238095,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.4028/www.scientific.net/MSF.898.638,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356,Alloy 1420,AlCoCrCuMnFe,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.000000,...,NaN,NaN,BCC1 + BCC2 + FCC,M,NaN,FCC + BCC,FCC_PLUS_BCC,10.1016/j.msea.2015.01.002,NaN,NaN
1357,Alloy 1421,Al58.5Mg31.5Zn4.5Cu4.5Si1,0.584708,0.000000,0.000000,0.000000,0.000000,0.045477,0.000000,0.000000,...,NaN,NaN,FCC + Im,Im,NaN,FCC + Im,Im,10.1007/s11665-018-3720-0,NaN,NaN
1358,Alloy 1422,Al63Mg27Zn4.5Cu4.5Si1,0.629685,0.000000,0.000000,0.000000,0.000000,0.045477,0.000000,0.000000,...,NaN,NaN,FCC + Im,Im,NaN,FCC + Im,Im,10.1007/s11665-018-3720-0,NaN,NaN
1359,Alloy 1423,Al66.7Mg23.3Zn4.5Cu4.5Si1,0.666667,0.000000,0.000000,0.000000,0.000000,0.045477,0.000000,0.000000,...,NaN,NaN,FCC + Im,Im,NaN,FCC + Im,Im,10.1007/s11665-018-3720-0,NaN,NaN
1360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
## head()-- this function will return the top n( by default top 5) values of DataFrame or series
DF.head()

,Alloy ID,Alloy,Al,Co,Cr,Fe,Ni,Cu,Mn,Ti,...,Quenching,HPR,Microstructure_,Multiphase,IM_Structure,Microstructure,Phases,References,Unnamed: 51,Unnamed: 52
0,Alloy 0000,Al0.5NbTaTiV,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.222222,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.1016/j.proeng.2012.03.043,NaN,NaN
1,Alloy 0001,Al0.75MoNbTiV,0.157895,0.0,0.0,0.0,0.0,0.0,0.0,0.210526,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.3390/e16020870,NaN,NaN
2,Alloy 0002,Al0.25MoNbTiV,0.058824,0.0,0.0,0.0,0.0,0.0,0.0,0.235294,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.3390/e16020870,NaN,NaN
3,Alloy 0003,Al0.25NbTaTiV,0.058824,0.0,0.0,0.0,0.0,0.0,0.0,0.235294,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.1016/j.proeng.2012.03.043,NaN,NaN
4,Alloy 0004,Al0.2MoTaTiV,0.047619,0.0,0.0,0.0,0.0,0.0,0.0,0.238095,...,NaN,NaN,BCC,S,NaN,BCC,BCC_SS,10.4028/www.scientific.net/MSF.898.638,NaN,NaN

In [7]:
## .dtypes() - This function will return the series containing each coloumn and it's Data Type

DF.dtypes

Alloy ID                 object
Alloy                    object
Al                      float64
Co                      float64
Cr                      float64
Fe                      float64
Ni                      float64
Cu                      float64
Mn                      float64
Ti                      float64
V                       float64
Nb                      float64
Mo                      float64
Zr                      float64
Hf                      float64
Ta                      float64
W                       float64
C                       float64
Mg                      float64
Zn                      float64
Si                      float64
Re                      float64
N                       float64
Sc                      float64
Li                      float64
Sn                      float64
Be                      float64
Num_of_Elem             float64
Density_calc            float64
dHmix                   float64
dSmix                   float64
dGmix                   float64
Tm                      float64
n.Para                  float64
Atom.Size.Diff          float64
Elect.Diff              float64
VEC                     float64
Sythesis_Route           object
Hot-Cold_Working         object
Homogenization_Temp     float64
Homogenization_Time     float64
Annealing_Temp           object
Annealing_Time_(min)    float64
Quenching                object
HPR                      object
Microstructure_          object
Multiphase               object
IM_Structure             object
Microstructure           object
Phases                   object
References               object
Unnamed: 51             float64
Unnamed: 52             float64
dtype: object

In [8]:
## .describe()- This function will return the mathematical analysis related to stactics of the Data


DF.describe()

,Al,Co,Cr,Fe,Ni,Cu,Mn,Ti,V,Nb,...,Tm,n.Para,Atom.Size.Diff,Elect.Diff,VEC,Homogenization_Temp,Homogenization_Time,Annealing_Time_(min),Unnamed: 51,Unnamed: 52
count,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,1360.000000,...,1360.000000,1359.000000,1360.000000,1360.000000,1360.000000,571.000000,561.000000,594.000000,0.0,0.0
mean,0.068393,0.115694,0.116987,0.130766,0.132417,0.015553,0.048479,0.088741,0.031342,0.075436,...,1823.725359,9.146608,4.414770,0.159028,6.537999,1145.297723,933.557932,1071.297980,NaN,NaN
std,0.117587,0.123935,0.108737,0.135841,0.128690,0.049680,0.101408,0.120278,0.075292,0.106255,...,430.135657,21.810314,2.291318,0.225247,1.660303,152.978036,969.501052,3172.582625,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,646.934672,0.559007,0.168046,0.015000,3.161339,500.000000,2.000000,0.000000,NaN,NaN
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1489.329417,2.090463,3.262142,0.110000,4.600000,1100.000000,120.000000,60.000000,NaN,NaN
50%,0.000000,0.100000,0.150000,0.163934,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,...,1801.200000,4.654402,4.429916,0.122434,7.200000,1200.000000,360.000000,120.000000,NaN,NaN
75%,0.111111,0.200000,0.200000,0.200000,0.222222,0.000000,0.000000,0.200000,0.000000,0.200000,...,2111.996306,8.540000,5.655462,0.147521,8.000000,1200.000000,1440.000000,1440.000000,NaN,NaN
max,0.911392,0.776355,0.400000,0.730665,0.500000,0.250000,0.450000,0.500000,0.625000,0.420000,...,3157.750000,279.277101,19.059548,3.920000,9.500000,1700.000000,3600.000000,60480.000000,NaN,NaN

In [9]:
## .unique() -  This function will return the unique values in the coloumn of DataFrame

DF['Microstructure_'].unique()

array(['BCC', 'BCC + Im', 'FCC', 'BCC1 + BCC2', 'FCC + Im', 'FCC + BCC',
       'BCC + delta', 'BCC + FCC', 'FCC + BCC + Im', 'BCC1 + BCC2 + BCC3',
       'BCC1 + BCC2 + Laves', 'BCC + FCC + Im', 'BCC1 + BCC2 + Im',
       'BCC?+ Im', 'BCC  + Im', 'BCC + Laves', 'BCC1+BCC2', 'BCC + BCC',
       'BCC?+?FCC', 'BCC1 + BCC2 + FCC', 'Im + FCC', 'Im', 'FCC + Laves',
       'FCC+ BCC', 'FCC + FCC + BCC', 'BCC+ Im', 'BCC\xa0+\xa0Im',
       'FCC + im', 'FCC1+FCC2', 'FCC +Im', 'FCC_PLUS_BCC', 'FCC+ FCC',
       'FCC + FCC +  Im', 'BCC  + FCC + Im', 'FCC1 + FCC2 + BCC',
       'BCC1 + BCC2 + FCC + Im', nan], dtype=object)

In [ ]:
## Q3

In [17]:
Values = {'Values':[10,20,30,40]}


DF1 = pd.DataFrame(Values)
DF1

sum = DF1['Values'].head(3).sum()
sum

60

In [ ]:
## Q5

In [18]:
## .size -- this function returns the total no. of elements present in the DataFrame
## .shape -- this function return the total no. of rows and coloumns present in the DataFrame

DF.size

72133

In [19]:
DF.shape

(1361, 53)

In [ ]:
##Q6

In [ ]:
## pandas.read_excel('')

In [ ]:
##Q7

In [24]:
email = {'email':['aysuhsingroly24@gmail.com','namansingreoly@gmail.com','alkasingroly@gmail.com']}

DF3 = pd.DataFrame(email)
DF3


DF3['username'] = DF3['email'].apply(lambda x: x.split('@')[0])

DF3

                       email         username
0  aysuhsingroly24@gmail.com  aysuhsingroly24
1   namansingreoly@gmail.com   namansingreoly
2     alkasingroly@gmail.com     alkasingroly

In [ ]:
##Q8

In [32]:
dff = {'A':[3,8,6,2,9],'B': [5,2,9,3,1], 'C': [1,7,4,5,2] }

DF4 = pd.DataFrame(dff)
DF4


DF4[(DF4['A']>5) & (DF4['B']<10)]#.loc[0:4,['A','B']]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
##Q9

In [34]:
DF1

DF1['Values'].describe()

count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
Name: Values, dtype: float64

In [ ]:
##Q10

In [35]:
import pandas as pd

def add_moving_average(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Sort the DataFrame by 'Date' to ensure the moving average is calculated in the correct order
    df = df.sort_values(by='Date')
    
    # Calculate the moving average using a window size of 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Example usage:
# Create a sample DataFrame
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09'],
    'Sales': [100, 200, 150, 300, 250, 400, 350, 450, 500]
}
df = pd.DataFrame(data)

# Add the MovingAverage column
df = add_moving_average(df)

print(df)

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    200     150.000000
2 2023-01-03    150     150.000000
3 2023-01-04    300     187.500000
4 2023-01-05    250     200.000000
5 2023-01-06    400     233.333333
6 2023-01-07    350     250.000000
7 2023-01-08    450     300.000000
8 2023-01-09    500     342.857143